[submodule "src/external/KTX-Software"]
	path = src/external/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "src/external/glm"]
	path = src/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/external/stb"]
	path = src/external/stb
	url = https://github.com/nothings/stb.git
[submodule "src/external/tinygltf"]
	path = src/external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "src/fileformats/libtiff"]
	path = src/fileformats/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "src/fileformats/libCZI"]
	path = src/fileformats/libCZI
	url = https://github.com/zeiss-microscopy/libCZI.git
[submodule "src/external/spdlog"]
	path = src/external/spdlog
	url = https://github.com/gabime/spdlog.git
